.container-header {
	max-width: 1440px;
	min-height: 100vh;
	margin: 0 auto;
	background-image: url("../img/bg_header.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: gainsboro;
	background-attachment: fixed;
}

.header-wrp {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	display: flex;
}

.logo__text {
	padding: 35px;
}

#menu__toggle {
	opacity: 0;
}

.menu__list {
	list-style-type: none;
	margin: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;
	padding: 35px;
}

.menu-link {
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #533738;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all 0.5s;
}

nav ul li a:hover {
	color: #555;
}

nav.stroke ul li a {
	position: relative;
}

nav.stroke ul li a:after {
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: ".";
	color: transparent;
	background: #aaa;
	height: 1px;
}
nav.stroke ul li a:hover:after {
	width: 100%;
}

.header-wrapper {
	padding: 10%;
}

.header-title {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 62px;
	color: #533738;
	margin: 0;
}

.header-text {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #533738;
}

.button {
	background: #cc8b86;
	padding: 25px 65px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #533738;
	border: 1px solid #cc8b86;
}

.button:hover,
.button:focus {
	background: none;
	color: #533738;
	border: 1px solid #533738;
	transition: all 0.5s;
	cursor: pointer;
}

.container-content {
	max-width: 1440px;
	margin: 0 auto;
}

.about {
	background-color: #efe6e4;
}

.about__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 65px 180px;
}

.title {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 50px;
	text-transform: uppercase;
	color: #533738;
	width: 100%;
	text-align: center;
	margin-top: 0;
}

.about__img {
	max-width: 100%;
}

.about__text-wrapper {
	width: 50%;
}

.about__text {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #533738;
}

.bullets {
	background: #8d7370;
}

.bullets__list {
	list-style-type: none;
	margin: 0;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	flex-wrap: wrap;
	padding: 80px 180px;
}

.bullets__item {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	text-transform: uppercase;
	color: #ffffff;
}
.bullets__item-number {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 62px;
	color: #ffffff;
}

.portfolio {
	background-color: #efe6e4;
	padding: 65px 100px 65px 100px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.portfolio__title {
	text-align: left;
}

.portfolio__list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 20px;
	margin: 0 0 30px 0;
}

.portfolio__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1 1 40%;
}

.portfolio__item--wide {
	flex: 1 1 55%;
}

.portfolio__item-pic {
	max-width: 100%;
}

.portfolio__cover {
	background: url("../img/bedroom.jpg") no-repeat center / cover, #555555;
	background-blend-mode: multiply;
}

.portfolio__cover-wrapper {
	width: 80%;
}

.portfolio__cover-title {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	text-align: center;
	color: #ffffff;
	padding: 0 30px;
}

.portfolio__cover-text {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
}

.portfolio__link {
	width: 100%;
	text-align: center;
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 37px;
	color: #533738;
}

.portfolio__link-arrow {
	fill: #533738;
}

.portfolio__link:hover .portfolio__link-arrow {
	transition: all 0.5s;
	fill: white;
}

.team {
	background-color: #e2c4ba;
	padding: 50px 100px;
}

.team__list {
	list-style-type: none;
	margin: 0 -20px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.team__item {
	width: 320px;
	padding: 0 20px;
	margin: 0 0 30px 0;
}

.item-text,
.reviews__content-text {
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #533738;
}

.work__list {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
}

.work__item {
	width: 280px;
	margin: 0 0 30px 0;
	text-align: center;
}

.number-circle {
	background-color: #8d7370;
	width: 70px;
	line-height: 70px;
	border-radius: 50%;
	text-align: center;
	font-size: 30px;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 500;
	color: #ffffff;
	display: inline-block;
}

.reviews {
	background-color: #efe6e4;
	padding: 65px 180px;
}

.reviews-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 -10px;
}

.arrow__left {
	padding: 0 10px;
}

.arrow__right {
	padding: 0 10px;
}

.reviews-arrow {
	fill: #f5f2ed;
}

.reviews-arrow:hover {
	transition: all 0.5s;
	fill: #533738;
}

.reviews__content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	padding: 0 10px;
}

.reviews__text-wrapper {
	width: 50%;
}

.reviews__list {
	list-style-type: none;
	margin: 0;
	padding: 0 10px;
}

.reviews__item {
	margin-bottom: 20px;
	width: 100%;
}

.reviews__item img {
	max-width: 100%;
}

.reviews__item:last-child {
	margin-bottom: 0;
}

.footer {
	max-width: 1440px;
	margin: 0 auto;
}

.footer-wrapper {
	background: #8d7370;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 0 100px;
}

.footer__content {
	width: 40%;
}

.footer__title {
	text-align: left;
}

.footer-text {
	color: #ffffff;
}

.form__name,
.form__phone {
	width: 100%;
	background: #8d7370;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 30px;
	color: #ffffff;
	border: none;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 30px;
}

.footer-contacts {
	background-color: #efe6e4;
	padding: 0 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-phone {
	text-decoration: none;
}

/* MOBILE VERSION */

@media screen and (min-width: 320px) and (max-width: 767px) {
	.logo__text {
		padding: 25px;
	}

	/* start hamburger menu */
	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__list {
		visibility: visible;
		left: 0;
	}

	.menu__btn {
		display: flex;
		align-items: center;
		position: fixed;
		top: 20px;
		left: 10%;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;
	}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
		transition-duration: 0.25s;
	}
	.menu__btn > span::before {
		content: "";
		top: -8px;
	}
	.menu__btn > span::after {
		content: "";
		top: 8px;
	}

	.menu__list {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		left: -100%;
		width: 300px;
		height: 100%;
		margin: 0;
		padding: 80px 0;
		list-style: none;
		background-color: #eceff1;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
		transition-duration: 0.25s;
	}

	.menu__item {
		display: block;
		padding: 12px 24px;
		color: #333;
		font-family: "Montserrat", sans-serif;
		font-size: 20px;
		font-weight: 600;
		text-decoration: none;
		transition-duration: 0.25s;
	}
	.menu__item:hover {
		background-color: #cfd8dc;
	}
	/* end hamburger menu */

	.header-title {
		font-size: 30px;
		line-height: 42px;
	}

	.header-text {
		font-size: 15px;
		line-height: 25px;
	}

	.button {
		padding: 15px 55px;
		font-size: 15px;
		width: 100%;
	}

	.about__wrapper {
		padding: 10%;
	}

	.title {
		font-size: 30px;
	}

	.about__text-wrapper {
		width: 100%;
	}

	.bullets__list {
		padding: 10%;
		justify-content: center;
	}

	.bullets__item {
		font-size: 20px;
	}

	.portfolio {
		padding: 10%;
	}

	.portfolio__title {
		text-align: center;
	}

	.portfolio__link {
		font-size: 20px;
	}

	.team {
		padding: 10%;
	}

	.team__item {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.team__item img {
		max-width: 100%;
	}

	.reviews {
		display: none;
	}

	.footer-wrapper {
		padding: 10%;
	}

	.footer__content {
		width: 100%;
	}

	.map {
		width: 100%;
	}

	.map iframe {
		width: 100%;
		height: 300px;
	}

	.footer-contacts {
		padding: 10%;
	}
}
